@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html {
    --primary-color: #40A3F8;
    --secondary-color: #3E3E3E;
    --text-color: #3D3D3FB2;
    --heading-color: #3E3E3E;
    --nav-color: #6E5F5F;
    --primary-font: font-family: 'Roboto', sans-serif;

}

body {
    font-family: var(--primary-font);
}

a {
    text-decoration: none;
}

/*todo header section  */



.container {
    max-width: 1169px;
    margin: auto;
}

/*! header section  */

.header-wraper {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

}

.logo h2 {
    color: var(--primary-color);
    font-size: 30px;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
}

nav ul li {
    color: var(--nav-color);
    font-size: 16px;
    line-height: 24px;
}



/* !hero secction  */

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    flex-basis: 40%;
}

.hero-wraper {
    display: flex;

}

span {
    color: var(--primary-color);
}

.hero-content p {
    color: var(--heading-color);
    size: 14px;
    line-height: 30px;
}

.hero-content h2 {

    font-size: 48px;
    line-height: 70px;
}

.hero-img {
    flex-basis: 60%;
    text-align: center;
}

/* button section  */

.btn-secondary {
    border: 2px;
    border-radius: 5px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500px;
    padding: 14px 28px;
    border: 2px solid var(--primary-color);
    color: var(--heading-col);
}

.ctn {
    margin-top: 38px;
    display: flex;
    gap: 12px;
}

.btn-secondary:hover {
    background-color: var(--primary-color);
    color: white;
}

.btn-primary {
    padding: 13px 28px;
    background-color: var(--primary-color);
    font-size: 15px;
    line-height: 24px;
    color: white;
    border-radius: 5px;
}


/** 3 step secton  */

.steps {
    margin: 68px 0;
}

.step-wraper {
    display: flex;
    gap: 100px;
    align-items: center;
}

.step h4 {
    color: var(--heading-color);
    font-weight: 500px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}

.step p {
    color: var(--heading-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;

}

.step-heading h2 {
    text-align: center;
    color: #3E3E3E;
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    /* 166.667% */
}

.imagess {
    margin-left: 130px;
    padding-bottom: 25px;
    margin-bottom: 5px;
}


.imagess-2 {
    margin-left: 110px;
}

.imagess-3 {
    margin-left: 90px;
}

/*! about section  */

.about-wraper {
    display: flex;
    margin: 90px 93px;
    gap: 5rem;

}

.about-wraper>* {
    flex-basis: 100%;
}

.about-feture {
    display: flex;
    gap: 2rem;
    margin-top: 10px;
    margin-bottom: 24px;



}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;

    /* .icons {
        align-items: center;
        justify-content: center;
    }
 */



}

.btn {
    padding: 10px 19px;
    background-color: var(--primary-color);
    font-size: 15px;
    line-height: 24px;
    color: white;
    border-radius: 5px;
    width: 200px;
    height: 50px;

}

/* service style  */
.service-content {

    text-align: center;

}

.service-box {
    display: flex;
    gap: 20px;

}

.service-content p {
    color: var(--heading-color);
    margin-top: 24px;
    margin-left: 336px;
    margin-right: 513px;
    margin-bottom: 107px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: center;
    width: 480px;
    height: 66px;
    flex-shrink: 0;
}

.service-images {
    padding-left: 35%;
    padding-bottom: 20px;
}

.service-heading {
    padding-left: 35%;
    padding-bottom: 20px;
}

/* .service-paragraph {
    color: #999;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: 224px;
    height: 80px;
    flex-shrink: 0;
} */